nav{
    background-color: rgba(0, 0 ,0, 0.3);
    width: max-content;
    padding: 0.7rem 1.7rem;
    display: block;
    display: flex;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    bottom: 2rem;   
}

nav a {
    background: transparent;
    padding:0.9rem;
    border-radius: 50%;
    font-size: 1.1rem;
    display: flex;
    color: var(--color-light);
}

nav a:hover {
    background: rgba(0, 0, 0, 0.3);
}

nav a.active{
    background: var(--color-bg);
    color: var(--color-white);
}